{% extends 'base.html' %}

{% block body %}

<h2>Welcome {{ user.name }}</h2>

<div class="text-center">

{% if user.status == 'Active' %}
    <h3>Your voucher is active!</h3>
    <p>You have {{ user.valid_through.astimezone().replace(tzinfo=None) | humanize }} to consume the services
    (your voucher will expire on  {{ user.valid_through.strftime('%Y-%m-%d')}}).</p>
    <p>
    <a class="btn brown-eosc" style="color:#fff;" href="https://dashboard.appdb.egi.eu/vmops">Access the dashboard</a>
    </p>
{% elif user.status == 'Expired' %}

   <h3>Your voucher has expired!</h3> 
   <p>Please provide feedback at www.FIXME.com </p>
{% else %}
    <p>You may redeem your voucher by clicking below</p>
    <a class="btn brown-eosc" style="color:#fff;" href="{{ url_for('enroll') }}">Get access!</a>
{% endif %}

</div>

{% endblock %}
